.XD {

    display: inline-flex;
    position: absolute;
    left: 1.5rem;
    top: 0.3rem;
    font-size: 2rem;

}

.carritou {

    
    display: flex;
    position: absolute;
    text-align:center;
    align-items:center;
    justify-content:center;
    background-color:white;
    left: 55%;
    top: 0%;
    height:100%;
    width:20%;
    border-style:none;
    font-size: 1rem;

};

.carritouD {

    visibility: hidden;

};