#nabar {

    display: flex;
    height: 6rem;
    width: 100%;
    background-color: rgb(150, 66, 66);
    align-items: center;
    justify-content: space-around;
  
}
  
#nabarLogo {
  
  position: relative;
  display: flex;
  height: 80%;
  left: -5%;
  
}

.linkStyle {

  text-decoration: none;
  color: black

}
  
#nabarLink {
  
  position: relative;
  width: 60rem;
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  font-size: 2rem;
  left: -5%;
  text-decoration: none;
  
}

.dropdownMenu {

  position: relative;
  display: inline-block;

}

.dropdownMenu-Content {

  display: none;
  position: absolute;
  border-style: solid;
  border-radius: 1rem;
  border-width: 0.15rem;
  border-color: black;
  background-color: white;
  padding: 1rem 1.5rem;
  z-index: 1;
  list-style: none;
  top: 0.6rem;
  

}

.dropdownMenu:hover .dropdownMenu-Content {

  display: block;

}