body {

  padding: 0;
  margin: 0;

}

#nabar {

  display: flex;
  height: 6rem;
  width: 100%;
  background-color: rgb(150, 66, 66);
  align-items: center;

}

#nabarLogo {

  display: flex;
  font-size: 40px;

}

#nabarLink {

  position: relative;
  left: 5rem;
  width: 80rem;
  height: 2rem;
  display: flex;
  align-self: flex-end;
  justify-content: space-around;


}

#cartST {

  position: relative;
  left: 25rem;
  width: 2.5rem;
  height: 2.5rem;

}

#Gener {

  display: flex;
  position: relative;
  width: 20rem;
  height: 30rem;
  background-color: rgb(109, 103, 103);
  top: 3rem;
  left: 3rem;
  flex-direction: column;

}

#GenerT {

  display: flex;
  position: relative;
  font-size: 1.5rem;
  width: 100%;
  justify-content: center;
  top: 1rem;


}

#GenerP {

  display: flex;
  position: relative;
  top: 8rem;
  width: 100%;
  justify-content: center;
}

