.main {

    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: row-reverse;
    font-size: 2.5rem;

}

.carrousel {

    display: flex;
    position: relative;
    padding: 20rem;
    left: 5rem;
    height: 35%;
    width: 40%;
    background-color: aqua;

}

.details {

    display: flex;
    position: relative;
    font-size: 2rem;
    flex-direction: column;

}